*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Inter", sans-serif;
    font-style: normal;

}
/* for navigation bar */
#cdLogo {
    height: 96px;
}

.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: 120px;
    font-weight: 500;
    align-items: center;
    font-size: 1.5vw;
    position: sticky;
    top:0;
    z-index: 999;
    padding-inline: 64px;
}

.navList .navItem{
    display: inline-block;
}

ul {
    justify-content: right;
    align-items: center;
    padding: 0;
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

.blackButton{
    text-align: center;
    background-color: #000;
    color: #fff;
    outline: 3px #000 solid;
    text-decoration: none;
    padding: 10px 30px;
}

.blackButton:visited{
    text-decoration: none;
}
.blackButton:hover {
    background-color: #fff;
    color: #000;
    outline-width: 2px;
    outline-color: black;
}

.navMenu{
    display: none;
}
.navOrder{
    display: inline-block;
}
.menuLine{
    width: 20px;
    height: 3px;
    background-color: #000; 
    margin-bottom: 4px;
}
main{
    position: relative;
    text-align: center;
    color: #000;
}
h1{ 
    padding-block: 2%;
    font-size: 4vw;
    font-weight: 700;
}

h2{
    font-size: 1.5vw;
    font-weight: 600;
}

h3{
    font-size: 2vw;
}
h4{
    font-size: 2.5vw;
}
p{
    font-size: 1.5vw;
    padding-block: 1%;
    font-weight: 500;
}
/* homepage */
/* intro block(first image and assets within it */
.photoOrder{
    display: flex;
    justify-content: center;
}

#homeImage{
    max-width: 90%;
    height: auto;
    opacity: 0.5;
}

.introText{
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.orderIntro{
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* menu description section with menu button */
.menuDes{
    display: flex;
    flex-direction: column;
    padding-block: 2%;
}

.menuItems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-block: 2%;
    padding-inline: 2%;
}

#menuImg{
    max-width: 90%;
    padding-block: 2%;
}

.whiteButton{
    text-align: center;
    background-color: #fff;
    color: #000;
    outline: 3px #000 solid;
    text-decoration: none;
    padding: 10px 30px;
}

.whiteButton:visited{
    text-decoration: none;
}
.whiteButton:hover {
    background-color: #000;
    color: #fff;
    outline-width: 2px;
    outline-color: black;
}
/* connect section */
.connect{
    padding-block: 2%;
}
#subButton{
    margin-inline: 1%;
}
#contButton{
    margin-inline: 1%;
}
/* our menu page */
#menuCD{
    padding-block: .25%;
}
.gridMenuImg{
    height: 8vw;
}
.menuSectionGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: 56px;
    grid-column-gap: 24px;
    grid-row-gap: 32px;
    margin-bottom: 24px;

}
.itemGrid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
    grid-column-gap: 24px;
}
.itemDes{
    font-size: 1vw;
}


/* footer */
footer {
    margin-top: 80px;
    display: block;
}
/* Solid border */
hr.solid {
  border-top: 2px solid #bbb;
  width: 90%;
  margin: 0 auto;
}

.footEle{
    width: 90%;
    margin: 0 auto;
}

/* nav adjustments for mobile */
@media all and (max-width:710px){
    h1{ 
        font-size: 6vw;
    }
    h2{
        font-size: 2vw;
    }
    h3{
        font-size: 4vw;
    }
    h4{
        font-size: 5vw;
    }
    p{
        font-size: 2vw;
    }

    .navbar{
        flex-direction: column;
        padding-inline: 4%;
        background-color: #fff;
        height: 80px;
    }
    .navMenu{
        display: block;
        position: absolute;
        right: 8px;
        top: 16px;
    }
    .navList{
        width: 108vw;
        background-color: #fff;
        padding-bottom: 24px;
        outline-width: 1px;
        outline-color: #cccccc;
        outline-style: solid;
        display: none;
    }
    .navList .navItem.l{
        display: block;
        font-size: 2.5vw;
    }

    .topLogo{
        width: 100%;
        margin-top: 8px;
        position: static;
    }
    #cdLogo{
        height: 64px;
    }

    li a{
        padding-block: 5%;
        text-align: left;
        margin-left: 10%;
    }

    .navOrder{
        display: flex;
        justify-content: center;
        padding-top: 5%;
    }

    a.blackButton.navItem{
        text-align: center;
        width: 70%;
        font-size: 2.5vw;
    }

    .active{
    display: block;
    }

    .whiteButton{
        font-size: 2vw;
        padding: 6px 12px;
        outline-width: 1.5px;
    }
    .blackButton{
        font-size: 2vw;
        padding: 6px 12px;
        outline-width: 1.5px;
    }
    /* homepage */
    .introText{
        text-align: center;
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
    }
    #menuImg{
        max-width: 75%;
    }
    /* Menu Page */
    .topMenuDes{
        display: none;
    }
    .menuItems{
        display: inline-block;
    }
    .gridMenuImg{
        height: 16vw;
    }

    .menuSectionGrid{
        width: 90%;
        display: inline-block;
        margin-inline: 24px;
    }

    .itemGrid{
        display: grid;
        padding-block: 2%;
        grid-template-columns: 1fr 4fr;
        text-align: left;
        grid-column-gap: 0px;
    }

    .itemDes{
        font-size: 2.5vw;
    }
}
